﻿@model CalculatorApplicationSOLID.Models.CalculatorModel
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Calculator Application</title>
</head>
<body>
    <h2>Calculator Application</h2>
    <div class="row">
        @using (Html.BeginForm()) 
        {

            <div class="form-group">
                <label for="numberone">Input First Number</label>
                <input type="text" class="form-control" id="Numberone" name="Numberone" value="@Model.Numberone" />
            </div>

            <div class="form-group">
                <label for="numbertwo">Input Second Number</label>
                <input type="text" class="form-control" id="Numbertwo" name="Numbertwo" value="@Model.Numbertwo" />
            </div>

            <div class="form-group">
                <label for="result">Final Result</label>
                <input type="text" class="form-control" id="Finalresult" name="Finalresult" value="@Model.Finalresult" />
            </div>

            <button type="submit" class="btn btn-info" id="add" value="add" name="calculate">ADDITION +</button>
            <button type="submit" class="btn btn-info" id="sub" value="sub" name="calculate">SUBTRACTION -</button>
            <button type="submit" class="btn btn-info" id="mul" value="mul" name="calculate">MULTIPLICATION x</button>
            <button type="submit" class="btn btn-info" id="div" value="div" name="calculate">DIVISION /</button>
            <button type="submit" class="btn btn-info" id="mod" value="mod" name="calculate">MODULUS %</button>

        }

    </div>
</body>
</html>

